body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}
.google-map {
    height: 100vh;
}
.MuiToolbar-root-37 {
    justify-content: space-between;
}

.results{
    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none; 
}
.results::-webkit-scrollbar { 
    display: none;
}
